1. String
2. Lists
3. Dictionaries 
4. Functions/Methods 
5. Fruitful vs Void 
6. List Comprehension 
7. Dictionary Comprehension

In [1]:
day = "Monday"

for c in day:
    print(c)

M
o
n
d
a
y

In [2]:
day += " Yay"
print(day)

Monday Yay

In [8]:
day[2:-1]

'nday Ya'

In [25]:
x = []
x.append(1)
x.extend([2,3,4])

print(x)
for e in x:
    print(e)

[1, 2, 3, 4]
1
2
3
4

In [26]:
for i in range(len(x)):
#     print(x[i])
    x[i] *= 2
    
print(x)

[2, 4, 6, 8]

In [27]:
# List 
x = [e*2 for e in x if e*2 > 10]
print(x)

[12, 16]

In [30]:
y = [1,2,3,4,5,6,7]
y.pop(3)

4

In [31]:
print(y)

[1, 2, 3, 5, 6, 7]

In [36]:
# d1 = dict(alan = 10)
d2 = {"alan" : 10, "bob": 15, "miguel": 20}
print(d2)

{'alan': 10, 'bob': 15, 'miguel': 20}

In [37]:
print(d2["bob"])

15

In [42]:
for name, age in d2.items():
    if age > 12: 
        print(name + " is older than 12 years old")

bob is older than 12 years old
miguel is older than 12 years old

dict_items([('alan', 10), ('bob', 15), ('miguel', 20)])

In [47]:
x = [3,2,1,6,21,4]
print(x)

[3, 2, 1, 6, 21, 4]

In [48]:
x.sort()

In [49]:
y = [3,2,1,6,21,4]
print(y)

[3, 2, 1, 6, 21, 4]

In [50]:
sorted(y)

[1, 2, 3, 4, 6, 21]

In [51]:
print(x)

[1, 2, 3, 4, 6, 21]

In [52]:
print(y)

[3, 2, 1, 6, 21, 4]

In [53]:
y_sorted = sorted(y)

print(y_sorted)

[1, 2, 3, 4, 6, 21]

In [ ]:
def add_one(x):
    return (x+1)

In [54]:
d2

{'alan': 10, 'bob': 15, 'miguel': 20}

In [59]:
for name, age in d2.items():
#     Wrong way
#     age*=2 
    d2[name] *= 2
     
print(d2)

{'alan': 20, 'bob': 30, 'miguel': 40}

In [62]:
x = 2

y = x
x += 10
y += 3

print(x)
print(y)

12
5

In [63]:
d2

{'alan': 20, 'bob': 30, 'miguel': 40}

In [65]:
d2 = {name: age*2 for name,age in d2.items() if name == "miguel"}
print(d2)

{'miguel': 160}

In [70]:
x = [1, 2, 3] 
y = x[:] # shallow copy 
x[1] = 200
print(x)
print(y)

[1, 200, 3]
[1, 2, 3]

In [74]:
import copy 
x = [1, 2, 3] 
z = copy.copy(x) # same as z = x[:]
print(z)
x[1] = 2000 
print(x)
print(z)

[1, 2, 3]
[1, 2000, 3]
[1, 2, 3]

In [80]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

b = a[:]

a[0][0] = 100

print(b)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
# string to list (Split)

# list to string (join)

x = ["a", "b", "c"]

y = " lala ".join(x)
print(y)

a lala b lala c

In [91]:
def decorator(func):
    print("start")
    func()
    print("end")

@decorator
def count():
    print("x")

start
x
end

TypeError: 'NoneType' object is not callable